@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&family=Zen+Old+Mincho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background:url(main_folder/07.jpg),rgba(255, 255, 255, 0.7);
    height: 100vh;
    width: 100%;
    margin: 0;
    background-blend-mode: overlay;
    font-family: "Zen Old Mincho", serif;

}

main{
    margin: 0 auto;
    width: 100%;
    min-width: 375px;
    height: 100%;


}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 748.3px;
    position: relative;
}

.container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 81.35px;
    height: 363.7px;
    z-index: 2;
    
}

.text{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 216.88px;
    padding-inline: 18px;
    justify-content:space-evenly;

}
.text p{
    color: white;
    text-align: center;
    font-weight: 550;
    font-size: 15px;
    line-height: 27px;
    font-family: "Zen Old Mincho", serif;

}

.text a{
     width: 100%;
     text-decoration: none;
     color: white;
     font-weight: 550;
     font-size: 25px;
     line-height: 28px;
     letter-spacing: 0.1em;
     height:53px;
     border: 2px solid white;

}

.container_2{
    width: 100%;
    height: 1967px;
    background-color:#F6F6F6;
    padding: 80px 20px 40px;
    gap: 50px;
}

.promises_text{
    width: 262px;
    height: 244.5px;
    gap: 1px;
}

.promises_text p{
    color: black;
    text-align: center;
    font-weight: 450;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 5%;

}

.promises_text span{
    color:#45BDCF;
}

.promises_flow{
    width: 100%;
    height: 1553.38px;
    gap: 30px;
}

.promise_1{
    width: 341px;
    height: 516px;
    gap: 22px;
}

.promise_heading{
    width: 100%;
    height: 39px;
    flex-direction: row;
    gap: 13px;

}

.promise_text{
    color: #45BDCF;
    font-family: "Castoro Titling", serif;
    font-size: 18px;
    font-weight:400px;
    letter-spacing: 0.1em;
    align-self:end;
}

.promise_num{
    color: #45BDCF;
    font-weight: 550;
    font-size: 37px;
    line-height: 153%;
    letter-spacing: 2%;
}

.promise_heading span{
    flex-grow: 1;
    height: 1px;
    background:#45BDCF;
    align-self:flex-end;
    margin-left: 2px;

}

.promise_title{
    width: 100%;
    height: 54px;
    font-family: "Zen Old Mincho", serif;
    font-size: 18px;
    line-height: 136%;
    text-align: center;
    font-weight: 450;
}

.promise_title span{
    font-size: 27px;
    line-height: 136%;
}

.promise_img{
    width: 100%;
    height: 210px;
    border: 10px solid #FFFFFF;
}

.promise_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promise_desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    height: 147px;


}
.promise_desc p {

    font-weight: 450px;
    font-size: 12px;
    line-height: 174%;
    letter-spacing: 0px;
    color: #111111;

}

.promise_desc span{
    letter-spacing: -1px;
    font-weight: 450px;
    font-size: 12px;
    line-height: 174%;    
}


.map_container{
    width: 100%;
    /* height: 2308px; */
    padding: 40px 0;
    gap: 45px;
    background-color: #FFFFFF;
}

.map_title{
    width: 339.5px;
    height: 53.13px;
    gap: 10px;
}

.map_header{
    width: 83.25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 7px;
    text-align: center;
    border-bottom: 1px solid #45BDCF;
    padding-bottom: 20px;
}

.map_title p{
    text-align: center;
    letter-spacing: 0.15em;
}

.map_area{
    width: 100%;
    height: 236.8px;
}
.map_area p {
    text-align: center;
    font-size: 12px;
    line-height: 174%;
}

.map_area img{
    width: 100%;
    height: 184px;
}

.timeline{
    width: 320px;
    position: relative;
    padding-left: 20px;
    border-left: 2px solid #45BDCF;
    margin-left: 20px;

}

.timeline_item{
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.timeline_icon{
    position: absolute;
    left: -35px;
    top: -3px;
    width: 28px;
    height: 28px;
    background: #45BDCF;
    color: white;
    font-weight: 550;
    font-size: 18px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.timeline_mark{
    width: 9.02px;
    height: 9.02px;
    background: #45BDCF;
    border-radius: 50%;
    position: absolute;
    left: -26px;
    top: 5px;
}

.timeline_content{
    width: 302px;
    align-items : flex-start;
    gap: 10px;
    /* background-color: red; */
}
.timeline_content h2{
    position: relative;
    font-size: 24px;
    font-weight: 550;
    line-height: 18px;
    letter-spacing: 5%;
    margin-bottom: 20px;
}

.timeline_content h3{
    position: relative;
    font-weight: 550;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 5%;
    margin-bottom: 10px;

}
.timeline_content h4{
    position: relative;
    font-weight: 550;
    font-size: 22px;
    margin-bottom: 5px;
}


.timeline_content .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 81.46px);
    gap: 6px;
}

.timeline_content img{
    width: 100%;
    height: 100%;
}


.tags span{
    display: inline-block;
    border: 1px solid #BF9D5A;
    color: #BF9D5A;
    font-size: 12px;
    padding: 0px 4px;
    border-radius: 12px;
}

.timeline_content p{
    font-size: 12px;
    font-weight: 500;
    line-height: 174%;
}

.timeline_3{
    width: 320px;
    height: auto;
    align-items: flex-start;
    /* background-color: #F6F6F6; */
    gap: 10px;
    padding-left: 20px;
    margin-left: 20px;


}

.timeline_3 h3{
    font-size: 24px;
    font-weight: 550;
    line-height: 18px;
    letter-spacing: 5%;
    position: relative;
}

.timeline_icon_last{
    position: absolute;
    left: -35px;
    top: -3px;
    width: 28px;
    height: 28px;
    background: #45BDCF;
    color: white;
    font-weight: 550;
    font-size: 18px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.timeline_3 p{
    font-size: 12px;
    line-height: 148%;
    font-weight: 500;
}

.cards_container{
    width: 100%;
    height: 378px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding: 10px;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    gap: 12px;
    background-color: #FFFFFF;

}

.cards_container::-webkit-scrollbar {
  display: none;  
}

.timeline_cards{
    width: 270px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    border-radius: 3px;
    /* background-color: red; */
    padding: 10px 15px;
    border: 0.5px solid #D9D9D9;
    drop-shadow: 0px 0px 10px #00000014;
    

}

.timeline_cards h2{

    font-size: 16px;
    line-height: 153%;
    letter-spacing: 7%;
    font-weight: 550;

}

.timeline_cards img{
    width: 236.8px;
    height: 161px;
    align-self: center;
}

.timeline_cards p{
    font-size: 12px;
    line-height: 160%;
    font-weight: 500;

}

.voice_container{
    width: 100%;
    height: 705px;
    background: #F9F9F9;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.voice_container h3{

    font-weight: 400;
    font-size: 24px;
    line-height: 7px;
    color: #34B1C5;


}
.voice_container h3 span{
    padding-bottom: 5px;
    border-bottom: 1px solid #34B1C5;   
}
.voice_container h4{
    font-weight: 400;
    font-size: 12px;
    line-height: 7px;
    letter-spacing: 3px;
    padding-top: 10px;

}

.image_container{
    width: 347px;
    height: 545px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    background-color: #FFFFFF;
    scrollbar-width: none;

}

.voice_card{
    width: 299px;
    height: 100%;
    border-radius: 3px;
    padding: 20px;
    gap: 10px;
    /* background: red; */
    align-items: flex-start;
    justify-content: space-evenly;
    border: 0.5px solid #D9D9D9;
}

.voice_card img{
    width: 259px;
    height: 161px;
}

.voice_card h5{
    font-weight: 550;
    font-size: 14px;
    line-height: 153%;
    letter-spacing: 7%;

}

.voice_card p{
    font-weight: 550;
    font-size: 12px;
    line-height: 163%;

}

.see_more{
    width: 100%;
    height: 29px;
    border: 1px solid #34B1C5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size:12px;
    color: #45BDCF;
    font-weight: 500;
    background: #FFFFFF;
    padding: 4px 45px;
    cursor: pointer;
}

.see_more img{
    width: 13px;
    height: 13px;
}



/* Popup Overlay */
.popup_gallery {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Popup Content */
.popup_content {
  background: #fff;
  padding: 50px 15px 30px;
  border-radius: 5px;
  width: 80%;
  width: 323px;
  max-height: 594px;
  height: auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Close Button */
.popup_content .close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 16px;
  cursor: pointer;
}

/* Main Image */
.main-photo {
  width: 100%;
  max-height: 346px;
  object-fit: cover;
  border-radius: 5px;
}

/* Thumbnails */
.thumbnail_container {
  width: 295px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4,69px);
  grid-template-rows: repeat(auto-fill,69px);

  gap: 5px;
  background
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.1s;
}

.thumb:hover {
  transform: scale(1.05);
}

.cuisine_section{
    width: 100%;
    height: 928.26px;
    background-color: #FFFFFF;
    gap: 30px;
    padding: 30px 0;
}

.cuisine_content{
    width: 340px;
    height: 100%;
    gap: 20px;
}

.cuisine_content h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 7px;
    color:#34B1C5;
    border-bottom: 1px solid #34B1C5;
    padding-bottom: 15px;
    padding-inline: 10px;
}

.cuisine_content h4{
    font-size: 12px;
    line-height: 7px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
    text-align: center;
}

.cuisine_content h5{
    font-weight: 550;
    font-size: 14px;
    line-height: 153%;
    letter-spacing: 7%;
    text-align: center;
}


.cuisine_images{
    width: 100%;
    height: 149px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

}

.cuisine_images img{
    width: 100%;
    height: 149px;

}

.cuisine_content p{
    font-size: 12px;
    line-height: 163%;
    font-weight: 500;

}


.area{
    width: 100%;
    /* height: 1633px; */
    background-color: #F9F9F9;
    padding: 40px 0;
    /* background: yellow; */
}

.area_content{
    width: 340px;
    gap: 44px;
}

.area_content h5{
    font-weight: 550;
    font-size: 18px;
    line-height: 153%;
    letter-spacing: 0%;
    color: #34B1C5;
    text-align: center;

}

.area_sub_section{
    width: 100%;
    height: auto;
    gap: 20px;

}

.area_sub{
    display: grid;
    grid-template-columns: repeat(2, 153px);
    grid-template-rows: repeat(auto-fill, 61px);
    gap: 10px;
}

.area_sub div{
    background: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 165%;
    letter-spacing: 0.1em;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.area_sub div span{
    font-weight: 650;
}

.area_sub_section p{
    font-size: 14px;
    line-height: 190%;
    letter-spacing: 0.1em;
    text-align: center

}

.area_sub_section p span{
    font-weight: 700;
    color: #34B1C5;
}

.fair_content{
    gap: 44px;

}

.fair_content h5{
    color: black;
    font-size: 12px;
}

.fair_cards_container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.fair_cards{
    width: 164px;
    height: 217px;
    position: relative;
    /* background: red; */
    margin-bottom: 20px;
}

.fair_cards img{
    width: 100%;
    height: 100%;
    object-fit: content;

}


.fair_cards h4{
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: white;

}

.fair_cards p{
    font-size: 18px;
    line-height: 160%;
    color: #34B1C5;
}

.read_des{
    padding: 2px 4px;
    background: white;
    border: none;
    cursor: pointer;
}


/* Popup modal styles */
.popup_modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup_modal.show {
  display: flex;
  opacity: 1;
}

.popup_contents {
  background: white;
  padding: 50px 15px 30px;
  max-width: 323px;
  width: 100%;
  height: 408px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  transform: scale(0.8);
  transition: transform 0.3s ease;
  gap: 15px
}

.popup_modal.show .popup_contents {
  transform: scale(1);
}

.popup_contents img {
  width: 100%;
  height: 164px;
  border-radius: 2px;
}

.close_btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
  color:#34B1C5;
}

.popup_contents h3{
    color: #34B1C5;
    font-size: 18px;
}

.popup_contents p{
    font-size: 14px;
    font-weight: 500;
    line-height: 163%;
    letter-spacing: 0%;
}

.fair_content h3{
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 8%;

}

.fair_content h2{
    width: 100%;
    font-size: 32px;
    font-weight: 450;
    letter-spacing: 8%;
    background: linear-gradient(to right, #34B1C5, #84DCEA);
    color: white;
}

.fair_content span{
    font-size: 58px;
    color: white;
}
.discount_section{
    gap: 15px;
}

.discount_section p{
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.1em;


}
.discounts{
    width: 100%;
}

.item_included{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.item_included span{
    display: inline-block;
    padding: 6px 22px;
    border: 1px solid #BF9D5A;
    border-radius: 24px;
    width: auto;
    white-space: nowrap;
    font-size: 18px;
    color: #BF9D5A;
}

.reservation_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    background: #34B1C5;
    color: white;
    border-radius: 2px;
    font-size: 26px;
    line-height: 160%;
    border: none;
    cursor: pointer;
}

.reservation_btn img{
    position: absolute;
    right: 15px;
}

.access_section{
    width: 100%;
    background: white;
    height: 652px;
}

.access_content{
    width: 340px;
    gap: 20px;
}

.access_content h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 7px;
    color:#34B1C5;
    border-bottom: 1px solid #34B1C5;
    padding-bottom: 15px;

}

.access_content h4{
    font-size: 12px;
    line-height: 7px;
    letter-spacing: 2px;
    margin-top: 10px;
    font-weight: 400;
}

.address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.address h5{
    /* color: green; */
    font-size: 16px;
    line-height: 163%;
    font-weight: 550;
}

.address p{
    font-size: 12px;
    line-height: 150%;
    font-weight: 500;
}

.address img{
    width: 100%;
    height: 100%;
}

.location_icon{
    display: flex;
    align-items: center;
    gap: 5px;

}

.location_icon img{
    width: 15px;
    height: 15px;
}


.faq_section {
    width: 100%;
    height: auto;
    padding: 40px 20px;
    gap: 11px;
    background-color: #F9F9F9;
}

.faq_section h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color:#34B1C5;
    padding-bottom: 15px;

}

.faq_section h3 span{
    border-bottom: 1px solid #34B1C5;
    padding-inline: 5px;
    font-weight: 550;
}

.faq_section h4{
    font-size: 12px;
    line-height: 7px;
    letter-spacing: 2px;
    margin-top: 2px;
    font-weight: 400;
}

.faq_content{
    gap: 3px;
}

.faq_container{
    width: 340px;
    gap: 10px;
}

.faq_cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.5px solid #D9D9D9;
    padding-bottom: 10px;
    gap: 5px;
}

.faq_cards span{
    font-size: 14px;
    line-height: 100%;
    color: #34B1C5;
}

.faq_cards h5{
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;

}
.answers{
    max-height: 0;
    overflow: hidden;
    padding-inline: 10px;
    transition: max-height 0.3s ease-in-out;

}

.answers.open{
    max-height: 300px;
}

.answers p{
    font-size: 12px;
    line-height: 163%;
    font-weight: 500;
    color: #111111;
}

footer{
    width: 100%;
    padding: 21px;
    background-color:#252424;
    gap: 10px;

}

.footer_container{

    display: flex;
    align-items: center;
    gap: 20px;
    align-self: flex-start;

}

.footer_container p,a{
    font-size: 12px;
    font-weight: 700;
    line-height: 163%;
    letter-spacing: 5%;
    color: white;

}

@media screen and (min-width: 768px){
    main{
        width: 375px;
        height: auto;
        margin-top: 31px;
    }
}

@media screen and (max-width: 425px){
    main{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}


@media screen and (max-width: 375px){
    main{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}

